
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 0;
}

.page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
}

.categories {
    font-size: 20px;
    position: absolute;
    border: 1px solid black;
    width: 20%;
    margin: 0 0 0 10%;
}

.wrapper {
    left: 30%;
    width: 59%;
    position: absolute;
    margin: 0 10% 0 1%;
}

.product {
    padding: 1em;
    border: 1px solid black;
    background: #fff;
    box-shadow:
            0 5px 10px rgba(0, 0, 0, 0.1),
            0 20px 20px rgba(0, 0, 0, 0.05);
}

.category {
    text-decoration: auto;
    color: black;
    width: 100%;
    height: 100%;
    padding: 3% 8%;
}

.container-for-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
}

span {
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

span:last-child {
    margin-right: 60%;
}

span .image {
    padding-bottom: 50%;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    max-width: 300px;
}

li {
    display: flex;
    justify-content: left;
    transition-duration: 1s;
}

li + li {
    border-top: 1px solid black;
}

li:hover {
    background-color: #84bf41;
}