<link rel="stylesheet" href="/css/admin-menu.css">
<div class="admin-menu">

    <div class="logo">
        <a th:href="@{/menu}">
            <img src="../images/header/logo.png">
        </a>
    </div>

    <div class="buttons-container">

        <a th:style="${#strings.equals(clicked, 'orders')} ? 'border-bottom: 1px solid #84BF41' : ''" th:href="@{/admin/orders}">ЗАМОВЛЕННЯ</a>

        <a th:style="${#strings.equals(clicked, 'products')} ? 'border-bottom: 1px solid #84BF41' : ''" th:href="@{/admin/products}">ПРОДУКТИ</a>

    </div>

</div>
