<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/create-product.css">

    <title>Needler's - Оформлення замовлення</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/modal-window-address.js" defer></script>
    <script src="/js/modal-window-close.js" defer></script>
    <script src="/js/checkout-substitution.js" defer></script>
</head>
<body>

<div class="container" id="container">
    <div class="form-container">

        <span class="back">
            <a th:href="@{/cart}">
                <img class="plus-displayed" src="../../images/create-product/back.png">
            </a>
        </span>

        <form th:action="@{/order/checkout}" th:object="${order}" method="POST">
            <h1 style="margin-bottom: 15px;">Оформлення замовлення</h1>
            <span>Будь ласка, заповніть форму нижче</span>
            <input class="address-input" type="text" th:field="*{address}" name="address" placeholder="Адреса"
                   autocomplete="off" required/>
            <input class="phone-input" type="text" th:field="*{phone}" name="phone" placeholder="Номер телефону"
                   required/>

            <select class="payment-method-select" th:field="*{paymentMethod}" required>
                <option value="" selected>Оберіть спосіб оплати...</option>
                <option
                        th:each="method : ${paymentMethods}"
                        th:value="${method}"
                        th:text="${method}">
                </option>
            </select>
            <button type="submit" class="submit">Продовжити</button>
            <span class="substitution">
            Заповнили цю інформацію в профілі?
            <a class="substitution-button" th:address="${order.owner.address}" th:phone="${order.owner.phone}">Підставити</a>
        </span>
        </form>

    </div>
    <div class="overlay-container">
        <img src="../../images/checkout/order.jpeg">
    </div>

    <div th:replace="~{modal-window-choose-address}"></div>
</div>

</body>
</html>