<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"/>
<link rel="stylesheet" href="/css/confirmed-order-map.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=vHTAVEROhftNN54rgBtlWWJuhpIupdjt" defer></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=vHTAVEROhftNN54rgBtlWWJuhpIupdjt" defer></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-geocoding.js?key=vHTAVEROhftNN54rgBtlWWJuhpIupdjt" defer></script>
<script src="/js/confirmed-order-map.js" defer></script>


<div class="main">

  <div id="route-narrative"></div>

  <div id="confirmed-order-map"></div>

</div>
