<link rel="stylesheet"  href="/css/header.css">
<div class="container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav>
    <div class="content">
      <div class="logo">
        <img src="../images/header/logo.png">
      </div>
      <div class="navigation">
        <a class="destination" th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">
          <img class="black" src="../images/header/A-black.png">
          <img class="green" src="../images/header/A-green.png">
        </a>
        <a class="destination" th:href="@{/menu}">
          <img class="black" src="../images/header/menu.png">
          <img class="green" src="../images/header/green_menu.png">
        </a>
        <a class="destination" th:href="@{/cart}">
          <img class="black" src="../images/header/cart.png">
          <img class="green" src="../images/header/green_cart.png">
        </a>
        <a  class="destination"th:href="@{/profile}" sec:authorize="isAuthenticated()">
          <img class="black" src="../images/header/person.png">
          <img class="green" src="../images/header/green_person.png">
        </a>
        <a class="destination" th:href="@{/login}" sec:authorize="!isAuthenticated()">
          <img class="black" src="../images/header/person.png">
          <img class="green" src="../images/header/green_person.png">
        </a>
        <a class="destination" id="destination-logout" th:href="@{/logout}" sec:authorize="isAuthenticated()">
          <img class="black" src="../images/header/logout_black.png">
          <img class="green" src="../images/header/logout_green.png">
        </a>
      </div>
    </div>
  </nav>
</div>
