<link rel="stylesheet"  href="/css/header.css">
<div class="container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav>
    <div class="content">
      <div class="logo">
        <img src="../images/logo.png">
      </div>
      <div class="navigation">
        <a>
          <img class="white" src="../images/menu.png">
          <img class="green" src="../images/green_menu.png">
        </a>
        <a>
          <img class="white" src="../images/cart.png">
          <img class="green" src="../images/green_cart.png">
        </a>
        <a>
          <img class="white" src="../images/person.png">
          <img class="green" src="../images/green_person.png">
        </a>
      </div>
    </div>
  </nav>
</div>
