<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/css/login.css">
    <title>Needler's - Авторизація</title>
</head>
<body>

<div class="container" id="container">
    <div class="form-container">
        <form th:action="@{/login}" method="POST">
            <h1>Авторизація</h1>
            <span>Будь ласка, заповніть форму нижче</span>
            <input type="text" name="username" placeholder="Email" />
            <input type="password" name="password" placeholder="Пароль" />
            <button>Увійти</button>
            <span class="sign-up">Не маєте обліковий запис? <a th:href="@{/registration}">Зареєструвати</a></span>
        </form>
    </div>
    <div class="overlay-container">
        <img src="../images/login/food.png" >
    </div>
</div>

</body>
</html>