<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/swiper.css">

    <meta charset="UTF-8">
    <title>Needler's - Menu</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js" defer></script>
    <script src="/js/menu-fixed-category.js" defer></script>
    <script src="/js/delete-product.js" defer></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{header}"></div>
<div class="page">

    <div class="page-content">

        <div class="swiper mySwiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img src="../images/slides/slide1.jpeg">
                </div>

                <div class="swiper-slide">
                    <img src="../images/slides/slide2.jpeg">
                </div>

                <div class="swiper-slide">
                    <img src="../images/slides/slide3.jpg">
                </div>

                <div class="swiper-slide">
                    <img src="../images/slides/slide4.jpg">
                </div>

                <div class="swiper-slide">
                    <img src="../images/slides/slide5.jpg">
                </div>

            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-next"></div>

            <div class="swiper-button-prev"></div>

        </div>

        <div class="manipulating-products">
            <ul>
                <li class="li-category"
                    th:each="category : ${categories}"
                    th:style="${category.equals(selectedCategory)} ? 'background-color: #84bf41':''">

                    <a th:href="${category.equals(selectedCategory)} ? @{/menu} : @{|/menu/${category.id}|}"
                       th:text="${category.name}"
                       th:style="${category.equals(selectedCategory)} ? 'color: white; font-weight: bold':''"
                       class="category"></a>

                    <div class="category-manipulator">

                        <div class="delete-category" sec:authorize="hasAuthority('ADMIN')">

                            <a class="manipulator-image" th:href="@{|/category/${category.id}/delete|}">
                                <img class="manipulator-displayed" src="../images/products/-_red.png">
                                <img class="manipulator-hidden" src="../images/products/-_white.png">
                            </a>

                        </div>

                        <div class="update-category" sec:authorize="hasAuthority('ADMIN')">

                            <a class="manipulator-image" th:href="@{|/category/${category.id}/update|}">
                                <img class="manipulator-displayed" src="../images/products/update-yellow.png">
                                <img class="manipulator-hidden" src="../images/products/update-white.png">
                            </a>

                        </div>

                    </div>

                </li>
            </ul>
        </div>

        <div class="menu-title-box">

            <h1 class="menu-title" th:text="${selectedCategory != null ? selectedCategory.name : 'Menu'}"></h1>

            <div class="btn-add-box" sec:authorize="hasAuthority('ADMIN')">

                <a class="btn-add" th:href="@{/product/create}">Add New Product</a>
                <a class="btn-add" th:href="@{/category/create}">Add New Category</a>

            </div>

        </div>

        <div class="wrapper">
            <div class="container-for-products">
                <div class="product" th:each="product : ${products}">
                    <div class="scale">

                        <div class="product-manipulator">

                            <div class="delete-product" sec:authorize="hasAuthority('ADMIN')">

                                <button onclick="deleteProduct($(this))" class="manipulator-image" th:pid="${product.id}">
                                    <img class="manipulator-displayed" src="../images/products/-_red.png">
                                    <img class="manipulator-hidden" src="../images/products/-_white.png">
                                </button>

                            </div>

                            <div class="update-product" sec:authorize="hasAuthority('ADMIN')">

                                <a class="manipulator-image">
                                    <img class="manipulator-displayed" src="../images/products/update-yellow.png">
                                    <img class="manipulator-hidden" src="../images/products/update-white.png">
                                </a>

                            </div>

                        </div>

                        <div class="image-wrapper">

                            <img class="product-image" th:src="@{|../product images/${product.name}.png|}">

                            <div class="add-product-to-cart">

                                <button class="add-product-to-cart-image" th:pid="${product.id}">
                                    <img class="manipulator-displayed" src="../images/products/+_green.png">
                                    <img class="manipulator-hidden" src="../images/products/+_white.png">
                                </button>

                            </div>

                        </div>

                        <span class="prise" th:text="'$' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></span>

                        <div class="cut-text">

                            <span class="name" th:text="${product.name}"></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div th:replace="~{footer}"></div>
</body>
<script src="/js/add-product-to-cart.js"></script>
</html>