<link rel="stylesheet" href="/css/modal-window.css">
<link rel="stylesheet" href="/webjars/leaflet/1.8.0/leaflet.css"/>
<script src="/webjars/leaflet/1.8.0/leaflet.js"></script>
<script src="/js/map.js" defer></script>
<div class="modal">
    <div class="modal-main">
        <button class="modal-close">X</button>

        <div id="map" class="map-container"></div>

        <div class="modal-content">
            <h3 class="modal-title">Оберіть вашу адресу на карті</h3>

            <label>
                Обрана адреса:
                <input class="address-input" type="text" placeholder="Адреса" disabled>
            </label>
        </div>
    </div>
</div>