<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/shopping-cart.css">
    <link rel="stylesheet" href="/css/scrollbar.css">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/delete-product-from-cart.js" defer></script>
    <script src="/js/clear-cart.js" defer></script>
    <script src="/js/quantityControl.js" defer></script>
    <script src="/js/delivery-warning.js" defer></script>
    <script src="/js/form-comment-control.js" defer></script>

    <title>Needler's - Кошик</title>
</head>
<body>

<div th:replace="~{header}"></div>

<div class="page">

    <div class="page-content">

        <div class="shopping-cart-title">
            <h1>Кошик</h1>

            <button class="clear-cart-button" th:if="${!#lists.isEmpty(cartItems)}">
                <img src="../images/cart/clear_cart.png">
                Очистити кошик
            </button>
        </div>


        <div class="shopping-cart" id="shopping-cart">

            <div class="cart">

                <div class="minimum-price-warning-block">

                    <span class="warning-text">
                        Мінімальна сума замовлення $10.
                    </span>

                </div>

                <div class="empty-cart" th:style="${#lists.isEmpty(cartItems)} ? 'display: flex' : 'display: none'">
                    <div class="empty-cart-img-container">
                        <img src="../images/cart/empty_cart.png">
                    </div>

                    <span>
                        Ваш кошик пустий
                    </span>

                    <a class="choose-products-button" th:href="@{/menu}">Обрати продукти</a>
                </div>

                <div class="list-cart-items">

                    <div class="cart-item-container" th:each="cartItem : ${cartItems}">

                        <div class="cart-item-content">

                            <div class="cart-item-description">

                                <div class="cart-item-image">
                                    <img th:src="@{|../product images/${cartItem.product.name}.png|}">
                                </div>

                                <div class="cart-item-title">
                                    <span th:text="${cartItem.product.name}"></span>
                                </div>

                            </div>

                            <div class="control-block">
                                <div class="cart-item-price">
                                    <span th:text="'$' + ${cartItem.product.price}"></span>
                                </div>

                                <div class="add-quantity">
                                    <button class="minus" th:pid="${cartItem.product.id}"
                                            th:price="${cartItem.product.price}">-
                                    </button>
                                    <input class="quantity-holder" type="number" disabled
                                           th:id="quantity + ${cartItem.product.id}" th:value="${cartItem.quantity}">
                                    <button class="plus" th:pid="${cartItem.product.id}"
                                            th:price="${cartItem.product.price}">+
                                    </button>
                                </div>

                                <div class="cart-item-subtotal-price">
                                    <span class="subtotal-price" th:id="subtotalPrice + ${cartItem.product.id}"
                                          th:text="'$' + ${#numbers.formatDecimal((cartItem.product.price * cartItem.quantity), 0, 'COMMA', 2, 'POINT')}">Subtotal Price</span>
                                </div>

                            </div>

                            <div class="cart-item-delete-container">
                                <button class="cart-item-delete-button" th:cartId="${cartItem.id}"
                                        th:pid="${cartItem.product.id}">
                                    <img class="delete-button-displayed" src="../images/cart/grey-cross.png">
                                    <img class="delete-button-hidden" src="../images/cart/red-cross.png">
                                </button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="total" th:style="${#lists.isEmpty(cartItems)} ? 'display: none' : 'display: block'">

                <div class="delivery-container">

                    <div class="delivery-text-container">
                        <span class="delivery-text"></span>
                    </div>

                    <div class="progress-bar-container">

                        <div class="progress-bar">
                            <div class="progress-bar-end">
                                <span>0$</span>
                            </div>
                        </div>

                        <div class="progress-bar-fill">
                            <div class="delivery-truck-box">
                                <img src="../images/cart/delivery-truck.png">
                            </div>
                        </div>

                    </div>

                </div>

                <div class="order-container">

                    <div class="order-info">
                        <div class="delivery-price">

                            <div class="delivery-price-title">
                                <span>Доставка:</span>
                            </div>

                            <div class="delivery-price-value-container">
                                <span class="delivery-price-value">$8.00</span>
                            </div>

                        </div>

                        <div class="total-products-price-container">

                            <div class="total-products-price-title">
                                <span>Вартість продуктів:</span>
                            </div>

                            <div class="total-products-price-value-container">
                                <span class="total-products-price-value"></span>
                            </div>

                        </div>

                        <div class="total-price">

                            <div class="total-price-title">
                                <span>Загальна вартість:</span>
                            </div>

                            <div class="total-price-value-container">
                                <span class="total-price-value"></span>
                            </div>

                        </div>
                    </div>

                    <div class="order-comment">
                        <span class="order-comment-title">Коментар до замовлення:</span>

                        <textarea class="comment-holder"
                                  maxlength="250"
                                  rows="4"
                                  placeholder="Тут ви можете залишити ваші побажання щодо продуктів, замовлення тощо."></textarea>
                    </div>

                    <div class="checkout-button-container">
                        <form th:action="@{/order/preparation}" th:object="${order}" method="POST">
                            <input type="hidden" class="form-total-price" th:field="*{price}">
                            <input type="hidden" class="form-comment" th:field="*{comment}">
                            <button type="submit" class="checkout-button">
                                Оформити
                            </button>
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div th:replace="~{footer}"></div>

</body>


</html>