<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/create-category.css">
    <title>Needler's - Оновлення Категорії</title>
</head>
<body>

<div class="container" id="container">
    <div class="form-container">

        <span class="back">
            <a th:href="@{/menu}">
                <img class="plus-displayed" src="../../images/create-product/back.png">
            </a>
        </span>

        <form th:action="@{|/category/${category.id}/update|}" th:object="${category}" method="POST">
            <h1>Оновлення категорії</h1>
            <span>Будь ласка, заповніть форму нижче</span>
            <input type="text" th:field="*{name}" name="name" th:placeholder="${category.name}" required/>
            <button>Оновити</button>
        </form>
    </div>
    <div class="overlay-container">
        <img src="../../images/login/food.png">
    </div>
</div>

</body>
</html>