<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/update-info.css">
    <title th:text="${pageTitle}"></title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/modal-window-address.js" defer></script>
    <script src="/js/modal-window-close.js" defer></script>
</head>
<body>

<div class="container" id="container">
    <div class="form-container">

        <span class="back">
            <a th:href="@{/profile}">
                <img class="plus-displayed" src="../../../images/create-product/back.png">
            </a>
        </span>

        <h1 th:text="${formTitle}" style="margin-bottom: 15px;"></h1>
        <form th:action="@{/profile/info/update}" th:object="${user}" method="POST">
            <input th:if="${object} == 'PHONE'"
                   type="text" th:field="*{phone}" th:placeholder="${placeholder}"/>

            <input th:if="${object} == 'EMAIL'"
                   type="text" th:field="*{email}" th:placeholder="${placeholder}"/>

            <input th:if="${object} == 'ADDRESS'"
                   class="address-input" autocomplete="off" type="text" th:field="*{address}" th:placeholder="${placeholder}"/>
            <button>Оновити</button>
        </form>
    </div>

    <div th:replace="~{modal-window-choose-address}"></div>
</div>

</body>
</html>